.java.hsp
.sonarj
.sw
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-testtest-output
.gradle
argfile
activemq-data

build
buildSrcbuild
spring-build
srcasciidocbuild
target

# Eclipse artifacts, including WTP generated manifests
spring-srcmainjavaMETA-INFMANIFEST.MF
.metadata
Servers
AWSCredentialsImpl.java
appcompat_v7

AnomalyTrackerWeb/gwt-unitCache
AnomalyTrackerWeb/.gwt
AnomalyTrackerWeb/.settings

# IDEA artifacts and output dirs
.iml
.ipr
.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

.class
RemoteSystemsTempFiles
.classpath
.project